@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "./grid/grid.scss";
@import "variables.scss";

/*
 * Declare element styles for design standard
 * Took a mobile first approach. All larger screened devices will be handled in media query
 */

body {
    background-color: $background;
    font-family: $project-font;
    color: $font-color;
}

h1 {
    font-size: $h1-size;
    font-weight: $h1-weight;
}

h2 {
    font-size: $h2-size;
}

h4 {
    font-size: $h4-size;
    font-weight: $h4-weight;
}

a {
    text-decoration: none;
    color: $secondary;
}

@media(min-width: $tablet) {
    h1 {
        font-size: $h1-mobile;
    }

    h2 {
        font-size: $h2-mobile;
    }

    h4 {
        font-size: $h4-mobile;
    }
}