$font-path: url('https://fonts.googleapis.com/css?family=Montserrat');
$project-font: 'Montserrat', sans-serif;

// colors
$background: #E7E5E8;
$font-color: #6E6A6F;
$accent: #6C698D;
$primary: #BFAFA6;
$secondary: #AA968A;