@import '../variables.scss';
#main-heading {
    text-align: center;
    font-family: $project-font;

    .left {
        text-align: left;
        grid-column: 1/10;
    }

    .right {
        text-align: right;
        grid-column: 4/13;
    }
}