@import '../variables.scss';
#main-heading {
    text-align: center;
    font-family: $project-font;
    grid-row: 3;

    h1, h4 {
        color: $font-color;
    }
}

body {
    background-color: $background;
}